$primaryColor: magenta;
$secondaryColor: black;
$tertiaryColor: yellow;

.plainCSS {
  background-color: $primaryColor;
  width: max-content;
  color: $tertiaryColor;

  &:hover {
    color: $secondaryColor;
  }
}